//@import 'fonts';
@import 'fonts';
@import "core/functions";
@import "core/basic-setup";

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/css3/box-sizing";

$font1: 'Roboto';
$font2: 'Roboto';
$font3: 'Roboto';
$font4: 'Roboto';
$font5: 'Roboto';
// $font2: 'kievitItalic', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
// $font3: 'kievit', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
// $font4: 'kievit', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
// $font5: 'kievit', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

$color1: #005da1;
$color2: #ffa630; //00aac5
$color3: #444;
$color4: #d1111c;
$color5: #00aac5;
$color6: #6f655f;
$color7: #ccc;

$body-color: #fff;
$text-color: $color3;

$susy: (
global-box-sizing: border-box,
use-custom: (rem: true)
);

.color-1 {color:$color1 !important}
.color-2 {color:$color2 !important}
.color-3 {color:$color3 !important}
.color-4 {color:$color4 !important}
.color-5 {color:$color5 !important}

.bg-color-1 {background-color:$color1 !important}
.bg-color-2 {background-color:$color2 !important}
.bg-color-3 {background-color:$color3 !important}
.bg-color-4 {background-color:$color4 !important}
.bg-color-5 {background-color:$color5 !important}

.font-1 {font-family:$font1 !important}
.font-2 {font-family:$font2 !important}
.font-3 {font-family:$font3 !important}
.font-4 {font-family:$font4 !important}
.font-5 {font-family:$font5 !important}

.bold {
	font-weight:600;
}

$max-page-width: 906px;
$screen-size-mobile: 0px;
$screen-size-tablet: 650px;
$screen-size-desktop: 1020px;
$screen-size-bigscreen: 1600px;

html, body {
	background-color: $body-color;
	font-family: $font1;
	font-size: 15px;
	color: $text-color;
	line-height: 1.4;
	// text-shadow: 0px 0px 5px #bcbcbc; // dit ziet er gek uit met dit kleinere lettertype
	margin: 0;
	padding: 0;

	*{
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	input, button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

a {
	text-decoration:none;
	color:$color5;
	&:hover{
		color: darken($color5, 10%);
	}
	&:visited{
		color: $color1;
	}
	.error{
		color: $color4;
		&:hover{
			color: darken($color4, 10%);
		}
		&:visited{
			color: $color1;
		}
	}
}

article a{
	font-weight: 600;
	text-decoration: underline;
	&.error{
		color: $color4;
		&:hover{
			color: darken($color4, 10%);
		}
	}
	&:visited{
		color: $color1;
	}
}

hr {
	margin-top:20px;
	clear:both;
	height:1px;
	border:0;
	background-color:$color5;
}

@include breakpoint(0px){
	h1 {font-family:$font2; color:$color1;	font-size:26px;  font-weight:700; margin:42px 0; line-height:32px;}
	h2 {font-family:$font2; color:$color2; font-size:24px;  font-weight:700; margin:0px 0 30px; line-height: 120%; }
	h3 {font-family:$font2; color:$color4; font-size:20px;  font-weight:300; margin:22px 0; line-height: 100%; }
	h4 {font-family:$font2; font-size:18px;  font-weight:300; margin:10px 0; line-height: 110%; }
	h5 {}
	h6 {}
	p  {margin:10px 0 20px 0;}
}

@include breakpoint($screen-size-tablet){
	body {}
	h1 {font-family:$font2; font-size:28px;  font-weight:300; margin:42px 0; line-height: 100%; }
	h2 {font-family:$font2; font-size:28px;  font-weight:400; margin:35px 0; line-height: 100%; }
	h3 {font-family:$font2; font-size:22px;  font-weight:300; margin:22px 0; line-height: 100%; }
	h4 {font-family:$font2; font-size:18px;  font-weight:300; margin:10px 0; line-height: 110%; }
	h5 {}
	h6 {}
	p  {margin:10px 0 20px 0;}
}


@include breakpoint($screen-size-desktop){
	h1 {font-family:$font2; font-size:36px; font-weight:300; margin:42px 0; line-height: 100%; }
	h2 {font-family:$font2; font-size:30px; font-weight:400; margin:35px 0; line-height: 100%; }
	h3 {font-family:$font2; font-size:25px; font-weight:300; margin:22px 0; line-height: 110%; }
	h4 {font-family:$font2; font-size:20px; font-weight:300; margin:10px 0; line-height: 110%; }
	h5 {}
	h6 {}
	p  {margin:10px 0 20px 0;}
}

.language_nl {
	h1 {color:$color6 !important; }
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}
	p  {margin:10px 0 20px 0;}
}

p{
	a{text-decoration:underline;}
	a:hover{color:$color1;}
}

.partners_list, .widget_nav_menu{
	a:hover{color:$color1;text-decoration:underline;}
}

blockquote {

}

ul.arrows,
// ul:not(.sub-menu)
ul
{
	margin:0;
	padding:0;
	line-height:100%;
	list-style:none;
	li{
		&:before {
			position:absolute;
			left:0;
			top:-2px;
			font-weight:bold;
			font-size:inherit;
			font-family: "FontAwesome";
			content: '\f0da';
			margin: 0px 20px 0 0;
			float:left;
		}
	}
	&:not(.sub-menu){
		li{
			position: relative;
			margin-bottom:10px;
			padding-left:20px;
		}
	}
}

ul{
	padding-left: 10px;
}

// Placeholder colors REPLACE WITH SASS!!!!!
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #d2d0d0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #d2d0d0;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:   #d2d0d0;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #d2d0d0;
}

img{border:none !important}


.call-to-action-btn{
	font-weight:bold;
	color:white;
	padding:16px 42px;
	margin: 0;
	font-size:22px;
	// @include border-radius(15px);
	// border:2px solid $color2;
	text-transform: inherit;
	@include single-transition(all, 0.2s linear);

	// &:hover{
	// 	background-color:$color2;
	// 	color:#fff;
	// }

	i{ font-weight:bold; margin-left: 10px;}
}

.button, button, input[type="button"] {
	display: inline-block;
	position:relative;
	background: $color1;
	padding:12px 28px;
	color: #fff;
	font-weight:normal;
	font-size:18px;
	border:0px;
	@include single-transition(all, 0.2s);
	cursor: pointer;
	outline: 0;
	margin: 10px 20px;
	text-align: center;
	text-decoration:none;
	text-transform:uppercase;
	a {
		position: relative;
		display:block;
		margin:-15px -30px;
		padding:15px 30px;
		color:#fff;
		text-decoration:none;
		@include single-transition(all, 0.2s);
		img{
			vertical-align: middle;
		}
		&:visited{
			color: white;
		}
	}
	&:visited{
		color: white;
	}

	&:after{
		content: "\f0da";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		font-size: 20px;
		padding-left: 19px;
		transition: 0.5s;
	}

	img {
		display: inline-block;
		vertical-align: middle;
		border:none;
	}

	&:hover{
		background: darken($color1, 10%) !important;
		color:#fff;
		a{
			color: #fff;
		}
	}

	&:focus{
		background: darken($color1, 12.5%);
		color:#fff;
		a{
			color: #fff;
		}
	}

	&.full-width {
		display:block;
		width:100%;
		box-sizing: border-box;
	}

	&.medium {
		display:inline-block;
		min-width:0;
		padding:5px 12px;
		font-size:14px;
		margin:5px 10px;
		border:2px solid #fff;
	}

	&.bg-color-2{
		&:hover {
			background: darken($color2, 10%) !important;
		}
		&:focus{
			background: darken($color2, 12.5%) !important;
		}
	}

	&.bg-color-3{
		&:hover {
			background: darken($color3, 10%) !important;
		}
		&:focus{
			background: darken($color3, 12.5%) !important;
		}
	}

	&.icon-pdf {
		background:url('../images/icon-pdf.png');
		background-size:contain;
		background-position: 0 50%;
		padding:1px 0;
		background-repeat: no-repeat;
		padding:0;
		padding-left: 40px;
		margin:0;
		color:$color3;
		font-size:inherit;
		text-decoration: inherit;
		text-align: left;
		&:hover{color:$color1;}
		a{color:$color3; text-decoration: underline; &:hover{color:$color1;}}
	}
}

img.alignleft, .allslider.alignleft {
	float:left;
	margin: 0 20px 20px 0;
}
img.alignright, .allslider.alignright {
	float:right;
	margin: 0 0 20px 20px;
}

.social-media-icons {
	@include single-transition(0.5s, all);
	padding:0 5px;
	max-height: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		a{

			background-size: contain;
			padding:2px;
		}
	}
}

.icon {
	background-position:50%;
	background-repeat: no-repeat;
	background-size: cover;
	width:30px;
	height:30px;
	margin:3px;
	display: inline-block;
	float:left;
}

.inline-icon {
	background-position:0 50%;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	padding-left:35px;
	box-sizing: border-box;
}

// article{
// 	a {
// 		color:$color2;
// 		font-weight:bold;
// 		text-decoration: underline;
// 	}
// 	a:hover {
// 		color:$text-color;
// 	}
// }
