body.admin-bar{
  padding-top:32px;
}

.pagewrap {
  position: relative;
  max-width: $max-page-width;
  @include box-sizing('border-box');
  margin:auto;
  padding:0 20px;
  @include pie-clearfix();
}

#page-content{
  article{
    margin-bottom:50px;
  }
}

nav#mobile{
  display: none;
}


.menu-main-menu-container{
  display: table;
  float:left;
}

nav#main{

  .menu{
    list-style:none;
    margin:0;
    padding:0;


    .menu-item{
      position: inherit;
      display: inline-block;
      padding-left: 0;
      margin-bottom: 0;

      &:before{
        // left: 15px;
        // top: 8px;
        // font-size: 15px;
        display: none;
      }

      &:hover  .sub-menu{
        display: block;
      }

      &:hover a{
        color: $color1;
      }

      &.current-page-item a, &.current-menu-item a{
        position:relative;
        font-weight:700;
        color:$color1;

        &:after{
          content: '';
          position:absolute;
          top:100%;
          left:50%;
          margin-left:-15px;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 14px solid #fff;
          z-index:4;

        }
      }


      a{
        display: block;
        padding:28px 11px;
        color:$color3;


      }

      // SUBS
      .sub-menu{
        position:absolute;
        margin:0;
        left:0;
        right:0;
        padding:0;
        top:100%;
        max-width:800px;
        background-color:#fff;
        z-index:3;
        @include pie-clearfix();
        display: none;
        padding-top:10px;
        @include single-box-shadow(0px, 2px, 2px, 2px, rgba(0,0,0,0.2));

        .menu-item{
          vertical-align: top;
          width:33%;
          box-sizing:border-box;
          padding:20px;
          position: relative;

          &:before{display: none;}
          a{
            color:$color1;
            padding:0;
            font-size:24px;
            margin: 0 0 12px 12px;

            &:after{
              display: none;
            }
          }
          // SUBSUB

          .sub-menu{
            @include single-box-shadow(0px, 0, 0, 0, rgba(0,0,0,0));
            position:relative;
            .menu-item{
              width:100%;
              padding:0;
              margin:0;
              position: relative;

              &:before{
                display: block;
                color:$color3;
                left: 15px;
                top: 9px;
              }

              &:hover{
                background-color:$color2;
                &:before{color:#fff;}
                a{
                  color:#fff;
                }

              }


              a{

                &:after{
                  display: none;
                }
                margin:0;
                color:$color3;
                padding:10px;
                padding-left:30px;
                font-size:15px;
              }
            }
          }

        }
      }
    }
  }
}

// GLOBAL
header#top{
  position:relative;
  background-color:#fff;
  width:100%;
  padding:15px 0;
  border-bottom:3px solid #ececec;

  a#logo{
    width:45%;
    display: inline-block;
    vertical-align: top;
    margin:0; padding:0;
    float:left;
    img{
      width:100%;
      height:auto;
    }
  }

  nav#top{
    width:55%;
    display: inline-block;
    text-align: right;
    float:right;
    //margin-top: 10px;
    ul{
      //margin-right:10%;
      display:none;


      li{
        display: inline-block;
        padding-left: 0;
        &:before{
          display: none;
        }

        a{ color:$color3; font-size:15px; padding:12px; }
      }

    }


    section#language-selector{
      margin-top:22px;
      //display: inline-block;
      display:none;

      float:none;
      i{
        margin: -2px 8px 0 0;
        font-size: 23px;
        color: #706f6f;
        font-weight: bold;
      }
    }

    button#showMenu{
      margin:18px 0 0 0;
      display: inline-block;
      font-family:$font1;
      padding:9px 11px 9px 11px;

      font-size:12px;
      &:after{
        vertical-align: sub;
      }
    }

  }

}

// FOOTER
footer{
  color:$color3;
  margin-bottom:50px;
  a{ text-decoration:none; }

  .pagewrap{
    padding:20px;
    background-color:#efeeed;
    max-width:906px;
  }

  .col{
    width:100%;
    margin-bottom:10px;
    h2{ color:$color5; margin:0 0 15px 0; font-size:27px;}
    a{
      color:$color3;

      &.icon{
        float:left;
        margin-right:10px;
      }
    }

    &.follow-us{
      ul{
        padding-top:20px;
      }
      li{
        padding-left: 0;
        &:before{
          display: none;
        }
      }
      a{
        text-decoration:underline;
        font-size:15px;
        i{
          font-size: 21px;
        }
        &.icon{
          margin-right: 5px;
          width: 20px;
          height: 20px;
        }
      }
    }

    &.quick-nav{
      float:left;

      ul.arrows li:before{
        top:-1px;
        font-size:15px;
        content: "\f0da";
      }
    }

    &.contact{
      float:left;
      width:33%;
      line-height:150%;


      a{
        display: block;
        margin-top:10px;
        font-size:15px;
      }
      i{
        width: 24px;
        font-size: 15px;}
      }
    }

    // sorting
    .sort{
      float:left;
      width:66%;
    }

    ul{ clear:both; list-style:none; margin:0; padding:0;

    }



  }

  section#search{
    float:right;
    position: relative;

    input#search-field{
      width:140px;
      height:40px;
      line-height: 40px;
      color: #444;
      background-color:#fff;
      border:2px solid #eee;
      margin-top: 15px;
      padding:0 16px;
      outline: none;
      font-family:$font2;
      font-size:13px;
    }

    button{
      position: absolute;
      bottom: 2px;
      right: 10px;
      margin:0;
      border:0;
      padding:0;
      height:40px;
      width:30px;
      background-color:transparent;
      // margin-left:-40px;
      i{ color:$color1; }
      &:after{
        display: none;
      }
      &:hover{
        background: transparent !important;
        // i{color:$color2;}
      }
    }
    &.full{
      float: none;
      width: 100%;

      form{
        position: relative;
        width: 100%;
      }

      label{
        display: none;
      }

      input#search-field{
        width: 97%;
      }

    }
  }

  section#search-mobile{
    width:100%;
    position:relative;
    height:34px;
    border-bottom:3px solid #ececec;

    form{
      margin:0;
      padding:0;
      width:100%;
      height:34px;

      input[type="text"]{
        width:100%;
        padding:0 20px;
        @include box-sizing('border-box');
        border:0;
        height:34px;
        font-style: italic;
        color:$color1;
        outline:none;
      }

      button{
        &:after{
          display: none;
        }
      }

      button.search-icon{
        // color:$color1;
        color: white;
        height:34px;
        border:0;
        margin:0;
        padding:0 20px;
        position:absolute;
        right:0;
        top:0;

        &:hover{ background-color:$color2; color:#fff; }
      }

    }

  }



  // SLIDER

  header#banner{
    height:386px;
    width:100%;
    background-size:cover;
    background-position: center;
  }

  header#slider {
    position: relative;
    background: #ccc;
    #slider_home{
      height:134px;

      .labels{
        position: relative;
        background-color:#fff;
        margin:0;
        padding:38px 0;
        top:375px;
        left:0;
        right:0;
        max-width:none;
        width:100%;
        min-height: 75px;

        h1{font-family: $font2; font-size:42px; color:#fff; line-height:130%;}
        h2{float:left; font-size:26px; margin:0; color:$color2; width:50%; font-weight: 700; line-height: 130%;}
        button{ float:right; padding:14px 46px; font-family: $font1;}
      }

      .description{
        padding: 0 20px;
        max-width: 906px;
        margin: 0 auto;
        box-sizing: border-box;
      }

      .bullets{
        bottom:28px;
        left:15px;

        button{
          @include border-radius(0);
          min-width: 0;
          margin:0 11px 0 0;
          background:#fff;
          border:0;

          &:after{
            display: none;
          }

          &.active{
            background-color:$color2;
          }

        }
      }
    }
    width:100%;
    overflow: hidden;
    height:513px;
  }

  section#breadcrumbs{
    background-image:url('../images/bg-repeat.jpg');
    padding:23px 0;
    font-size:14px;
    color:$color1;
    a{ font-size:14px; color:$color3;}

  }


  // Landing
  body.page-template-landing{


    section#search{ display: none; }

    section#page-content{
      //padding:66px 0;

      h1{ font-family: $font1; font-size:26px;}

      img{
        margin:20px 0 40px 206px;
      }

    }

    section#call-to-action{
      text-align: center;
      padding:80px 0;
      border-top:2px solid #a09f9f;
      border-bottom:2px solid #a09f9f;
      margin-bottom:66px;

      h2{
        color:$color1;

        a{ color:$color2;}
      }

    }

    header#top nav#top ul{
      margin-right:0;
    }

    // Banner
    header#banner{
      height:378px;
      width:100%;
      background-image:url('../../../../../wp-content/uploads/2015/08/varken.jpg');
      background-size: cover;
      background-position:center;

    }

    section#quote{
      background-image:url('../images/bg-repeat.jpg');
      padding:46px 0;
      h2{
        font-family:$font2;
        color:$color1;
        font-size:26px;
        line-height: 36px;
        margin:0;
      }
      .call-to-action-btn{
        position:absolute;
        right:0;
        top:2px;
      }
    }


  }

  // HOMEPAGE

  body.page-template-default{

    section.pagewrap{
      h1{
        color:$color1;
        font-size:33px;
        font-family:$font1;
      }

      h2{
        // color:$color1;
        font-size:24px;
        margin: 20px 0 10px 0;
        font-family:$font1;
      }
    }


    section#banners{
      float:left;
      width:34%;
      padding-top:30px;

      .banner{
        position: relative;
        padding:125px 25px 0 25px;
        width:100%;
        height:312px;
        background-color:#efeeed;
        margin-bottom:32px;
        @include box-sizing('border-box');
        color:$color1;


        h3{
          font-size:20px;
          font-family:$font3;
          font-style:normal;
          line-height:120%;
        }

        img{
          position:absolute;
          left:0;
          right:0;
          top:0;
          width:100%;
          height:auto;
          max-height:125px;
        }

        &:before{
          content: '';
          position: absolute;
          right: 1px;
          top: 0;
          width:30px;
          height:30px;
          background-color:$color2;
          z-index:2;
        }

        .btn{
          padding:10px 31px;
          font-size:21px;
          @include border-radius(5px);
          background-color:$color2;
          color:#fff;
          width:100%;
        }
      }

    }


  }

  section#subpage-links{
    float:left;
    padding:20px 0;
    font-weight:bold;
    ul {
      list-style: none;
      padding:0;
      @include pie-clearfix();
      margin: 0 -1.5%;
    }
    li {
      float: left;
      width: 47%;
      font-size:18px;
      margin: 3% 1.5%;
      min-width: 200px;
      &:before{
        display: none;
      }
      a{
        text-decoration: none;
        color:$color1;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }

      ul{ //submenu
        margin-top: 15px;
        li, li a{
          color: $color3;
          font-weight: 300;
          &:before{
            color: $color3;
          }
        }
        li{
          margin-bottom: 10px;
          margin-left:5px;
          &:before{
            display: block;
          }
        }
      }

      li{
        position:relative;
        float:none;
        margin:0;
        width:100%;
        padding-left:18px;
        font-size:15px;

        &:before {
          position:absolute;
          left:0;
          top: 0px;
          font-weight:bold;
          font-size:15px;
          font-family: "FontAwesome";
          content: '\f0da';
          margin: 0px 20px 0 0;
          float:left;
          color:$color1;
        }
      }
    }
  }

  //body.singular.page{
  //
  //}

  body.page-template-homepage{

    section#page-content{
      text-align:center;
      color:$color3;

      p{ line-height:30px; font-size:17px;}

      h1{
        font-size: 25px;
        color:$color2;
        //      margin: 65px 0 35px;
        span{ color:$color1; }
      }
    }

    section#blocks{
      background-image:url('../images/bg-repeat.jpg');
      padding:20px 0;
      margin-bottom: 50px; // Voor omdraaien

      .wrapper{
        background-color: #fff;
        margin-bottom: 20px;
      }

      .pagewrap{
        &:after{
          display: none; //fix for whitespace after the 3 columns
        }
      }

      .block{
        width:100%;
        background-color:#fff;
        margin-bottom:20px;
        padding:30px 20px;
        @include box-sizing('border-box');
        position:relative;
        font-size:18px;
        &:before{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width:30px;
          height:30px;
          background-color:$color1;
          z-index:2;
        }

        &:last-child{
          margin-bottom:0;
        }
        ul.arrows{
          li{

            margin:0 0 12px 0;
            font-size:17px;
            line-height:100%;

            color:$color3;
            a{color: $color3;}
          }
        }

        h2{
          margin:141px 0 18px 20px;
          color:$color1;
          font-size:24px;

        }

        figure{
          position:absolute;
          left:0;
          top:0;
          padding: 0;
          width: 100%;
          margin:0;
          padding:0;
          display:none;
          height:148px;
          background-size: cover;
          z-index:1;
        }
      }

    }

  }


  body.page, body.single{
    // formcraft
    .formcraft-css{

      .powered-by{ display: none; }

      input[type=text],textarea{
        // border:1px solid $color2;
      }

      .fc-form .form-element .submit-cover.animate-false .submit-button, .fc-form.fc-form-2 .form-element .submit-cover .submit-button, .formcraft-css .fc-form.fc-form-2 .form-element .fileupload-cover .button-file, .formcraft-css .fc-form.fc-form-2 .form-element .field-cover .button, #ui-datepicker-div.fc-datepicker .ui-datepicker-header, .formcraft-css .fc-form.fc-form-2 .stripe-amount-show,.fc-form.fc-form-2 .form-element .submit-cover .submit-button, .formcraft-css .fc-form.fc-form-2 .form-element .fileupload-cover .button-file, .formcraft-css .fc-form.fc-form-2 .form-element .field-cover .button, #ui-datepicker-div.fc-datepicker .ui-datepicker-header, .formcraft-css .fc-form.fc-form-2 .stripe-amount-show{
        // display: inline-block;
        // position:relative;
        background: $color1 !important;
        text-shadow: none;
        // padding:10px 22px;
        // //margin:5px;
        // color:#fff;
        // font-weight:bold;
        // font-size:14px;
        // border-radius: 5px !important;
        //
        //
        &:hover{
          background: darken($color1, 10%) !important;
        }
      }

      .fc-form .form-element.error-field .error{
        top: auto !important;
        bottom: -14px;
      }

    }

  }

  .pagination{
    padding: 15px 0 20px 0;
  }
