.allslider {
    *{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    display:none;
    vertical-align:top;
    position:relative;
    max-width:100%;
   // overflow:hidden;

    .sliderContainer{
        width: 100%;
        height: 100%;
        @include backface-visibility( hidden );
        //-webkit-transition: all 0.5s ease-in-out;
        //-moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
    }

    .sliderElem {
        position:relative;
        display:block;
        margin:0;
        padding:0;
        max-width:100%;

        .imageholder {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow:hidden;
        }

        img{
            position:absolute;
            top:50%;
            left:50%;
            max-width: none !important;
            height: auto;
        }

        .overlaybutton{
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
        }
    }

    .btn-prev, .btn-next{
        cursor:pointer;
        position:absolute;
        background-size:contain;
        background-repeat:no-repeat;
        background-position:50%;
        width:36px;
        height:36px;
        top:50%;
        margin:0 25px;
        margin-top:-18px;
        @include single-transition(opacity, 0.2s);
    }

    .btn-prev {
        // background-image: url('../images/arrow-left-white.png');
        left:0;
        opacity:1;
        &:hover{
            //background-image: url('../images/arrow-icon-left-hover.png');
        }
    }

    .btn-next {
        // background-image: url('../images/arrow-right-white.png');
        right:0;
        opacity:1;
        &:hover{
            //background-image: url('../images/arrow-icon-right-hover.png');
        }
    }

    .slider_title{
        position:absolute;
        bottom:0;
        width:100%;
        background-color:rgba(0,0,0,0.3);
        padding:20px;
        margin:0;
    }

    .bullets{
        position:absolute;
        bottom:28px;
        right:0;
        display:inline-block;
        padding:5px;
        color:white;

        button{
            padding:0 !important;
            border:0;
            width:12px;
            height:12px;
            @include border-radius(999px, 999px);
            background-color:$color2;
            margin-right:7px;
            outline:none;
            cursor:pointer;
            &:hover, &.active{
                background-image:none;
                background-color:white;
            }
        }
    }
}

.rehabselector {
    *{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    max-width: 100%;
    position:relative;
    width:100%;
    height:114px;
    overflow: hidden;
    margin-top: 9px;
    .sliderElem{
        background: #fff;
        cursor:pointer;
        position:relative;
        float:left;
        height: 114px;
        width: 125px;
        margin:0 2px;
        padding:0;
        overflow:hidden;
        .imageholder {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow:hidden;
            img {
                margin:0 !important;
                @include centerElement('both');
                opacity: 0.7;
                @include single-transition(opacity, 0.3s);
            }
        }
        &.currentItem {
            img{opacity: 1;}
        }
    }

    .sliderContainer {
        @include backface-visibility( hidden );
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .btn-prev, .btn-next{
        cursor:pointer;
        background-color:#fff;
        position:absolute;
        background-size:75% auto;
        background-repeat:no-repeat;
        background-position:50%;
        width:50px;
        top:0;
        bottom:0;
    }

    .btn-prev {
        background-image: url('../images/arrow-previous-lt-gray.png');
        left:0;
        border-right:4px solid $color6;
        &:hover{
            //background-color:#fff;
            //background-image: url('../images/arrow-icon-left-black.png');
        }
    }

    .btn-next {
        background-image: url('../images/arrow-next-lt-gray.png');
        right:0;
        border-left:4px solid $color6;
        &:hover{
            //background-color:#fff;
            //background-image: url('../images/arrow-icon-right-black.png');
        }
    }
    margin-bottom:50px;
}

.allslider.fade {
    .sliderElem{
        position:absolute;
    }
}

.allslider.slide {
    .sliderElem{
        position:relative;
        float:left;
    }
}

@include breakpoint($screen-size-desktop){
    .allslider {

        .btn-prev, .btn-next{
            width:70px;
            height:70px;
            margin-top:-35px;
            opacity:0.5;
            &:hover{
                opacity:1;
            }
        }

    }
}
