@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@font-face {
  font-family: 'kievit';
  src: url('../fonts/kievit.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kievit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kievit.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/kievit.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'kievitItalic';
  src: url('../fonts/kievit-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kievit-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kievit-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/kievit-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
