@import 'breakpoint';
@import 'site/settings';

html, body {
  background-color: #fff;
  *{color:#000;}
  font-family: $font1;
  font-size: 14px;
  line-height: 180%;
  margin: 0;
  padding: 0 5%;


  a {
    color:$color5;
    font-weight: 600;
    text-decoration: underline;
    &.error{
      color: $color4;
      &:hover{
        color: darken($color4, 10%);
      }
    }
    &:visited{
      color: $color1;
    }
    &:hover{
      color: $color1;
    }
  }

  .button, button, input[type="button"]{
    color: white;
  }
  h1 {font-family:$font2; color:$color1;	font-size:26px;  font-weight:700; margin:42px 0; line-height:32px;}
  h2 {font-family:$font2; color:$color2; font-size:24px;  font-weight:700; margin:0px 0 30px; line-height: 120%; }
  h3 {font-family:$font2; color:$color4; font-size:20px;  font-weight:300; margin:22px 0; line-height: 100%; }
  h4 {font-family:$font2; font-size:18px;  font-weight:300; margin:10px 0; line-height: 110%; }
}
