
@include breakpoint($screen-size-desktop){

	.pagewrap {
		max-width: 946px;
	}

	// Header main

	section#search{
		display: inline-block;
	}

	nav#main{
		.menu{
			.menu-item{
				.sub-menu{
					margin-top: 0px;
				}
				a{
					padding: 28px 11px;
				}
			}
		}
	}

	header#top{
		border-bottom:1px solid #ececec;

		a#logo{
			width:23%;
			img{

			}
		}

		nav#top{
			position: relative;
			top: auto;
			transform: none;
			ul{
				width:auto;
				display:inline-block;

			}

			section#language-selector{
				float:right;
				i{

				}
			}

			button#showMenu{
				display:none;
			}

		}
	}

	footer{
		.col{@include span(4 of 12 1/2 split);}
		.pagewrap{ padding:40px 37px 0 37px; }
	}

	// SLIDER
	header#slider {

		#slider_home{
			height:386px;
			.bullets{
				right:180px;
				left:inherit;
			}
		}}


		#search-mobile{ display:none; }

		body.page-template-homepage{

			section#page-content{
				h1{ br{ display:none; }}

			}

			section#blocks{
				padding:43px 0;

				.pagewrap{
					display: table;
					border-collapse: separate;
					border-spacing: 20px 0;
					padding:0;
				}

				.wrapper{
					display: table-cell;
					width: 33.3333%;
					float: none;
				}
				section.block{
					// height:360px;
					figure{ display:block;}
					// @include span(4 of 12 1 split);
				}
			}
		}
	}
