@include breakpoint(0 $screen-size-tablet){


	// GENERAL
	section#breadcrumbs{
		display: none;
	}

	.call-to-action-btn{
		margin-bottom: 20px;
	}

	footer{

		.col{
			margin-bottom:20px;
			float: none;
		}

		// sorting
		.sort{
			width:100%;
			.col:first-child{
				float:right;
				width:100%;
			}

			.col:nth-child(2){
				float:left;
				width:100%;
			}

		}

	}

	.menu-main-menu-container{
		display: block;
		width:100%;
		float:none;
	}


	nav#main{
		display: none;
	}

	// NAVIGATIE MOBIEL



	// NAVIGATIE MOBIEL

nav#mobile {
        display: none;
        background: #fff;
        position: relative;
        left: 0;
        right: 0;
        top:0;
        z-index: 200;
        @include pie-clearfix();

        &.active{
            display: block;
            .menu-item{
            }

        }

        @include single-box-shadow(0px, 1px, 4px, 0px, rgba(0,0,0,0.3));
        @include border-radius(5px,5px);

        #search{
            background: url('../images/icon-search.png');
            background-size: 15px;
            background-position: center;
            background-repeat: no-repeat;
            width:25px;
            height:25px;
            float:right;
            min-width:0;
            padding:0;
            margin:0;
            margin-top: 40px;
            z-index: 222;
            a{margin:0;}
            &.mobile-menu-visible {margin-top: 25px;}
        }

        .menu {
            margin:0;
        }

        #logo {float:left; padding: 25px 0; width:160px; height:auto; }
        ul{list-style: none; padding:0; margin-bottom: 0;}

        #closeMenu {
            min-width: 0;
            padding:6px 12px;
            margin: 20px 3% 0;
        }

        #showMenu {
            min-width: 0;
            padding:7px 16px 7px 35px;
            position: absolute;
            right: 30px;
            margin-top:32px;
            margin-right: 3%;
            @include box-sizing();
            background-image: url('../images/icon-menu.png');
            background-size: 18px;
            background-position: 10px;
            background-repeat: no-repeat;
        }

        .menu-item.strong{
            a{font-weight: bold;}
        }

        .menu-item.button{
            min-width: 0 !important;
            min-height:0 !important;
            padding:2px 15px;
            background: none;
            border:2px solid #cdcac8;
            margin:20px 20px;
            margin-left:3%;
            display: inline-block;
            &:after {content:none;}
            @include border-radius(4px, 4px);
            a{
                position: relative;
                margin:0;
                color:$color3;
                padding:0;
            }
            &:hover{
                border-color:$color1;
            }
        }
        .menu-item {
            @include single-transition(min-height, 0.3s);
            @include breakpoint(max-width $screen-size-desktop){
                position: relative;
            }

            border-bottom: 1px solid $color5;
						padding-left: 0;
						margin-bottom: 0;

            font-size:18px;
            a{
                @include box-sizing();
                color:$color3;
                padding: 16px 25px 16px;
                width: 100%;
                display: block;
            }
            a{position: relative;}
            &:hover {

            }

						&:before{
							display: none;
						}

            &.menu-item-has-children:after {
                position:absolute;
                right:0;
                top:18px;
                font-weight:bold;
                font-size:18px;
                font-family: "FontAwesome";
                content: '\f0d7';
                margin: 0px 20px 0 0;
                float:left;
                color:$color1;
            }

            .sub-menu {
                border:0;
                border-top: 1px solid $color3;
                border-bottom: 1px solid $color3;
                background-color:#efeeed;
                position: relative;
                display: none;
                //margin:0 -20px;
                margin-top: 3px;
                margin-bottom: -3px;
                padding-top:15px;
                .menu-item {
                    border-bottom: none;
                    //padding:0 20px;
                    &.menu-item-has-children {
                        border:none;
                        //border-top: 1px solid $color5;
                        font-weight: normal;
                        cursor:default;
                        a{color:$color2;}
                        &:hover {
                            a{color:$color2; cursor:default;}
                        }
                    }
                    &:last-child{
                        border:0;
                    }


                    &:after {
                        position:absolute;
                        left:auto;
                        top:3px;
                        font-weight:bold;
                        font-size:18px;
                        font-family: "FontAwesome";
                        content: '\f0da';
                        margin: 0px 20px 0 0;
                        float:left;
                    }

                    &.menu-item-has-children:after {content:none;}
                    a{}
                    &:hover {
                        a{color:$color1;}
                    }
                    .sub-menu {
                        background:transparent;
                        position: relative;
                        @include border-radius(0px,0px);
                        padding:0;
                        border:0;
                        //margin:0 -35px;
                        padding-top: 0;
                        margin-bottom:10px;
                        margin-top:-5px;
                        .menu-item {
                            &.menu-item-has-children:after {content:none; border:none; }
                            padding-left:25px;
                            font-weight: 400;
                            width:100%;
                            margin:0;
                            font-size:15px;
                            a{color:$color1; padding:2px 20px;}
                            &:last-child {border:none;}
                            &:hover {
                                a{color:$color1; cursor: pointer;}
                            }
                        }
                    }
                }
            }
        }

        .menu-item.menu-item-has-children {
            font-weight:bold;
            a{color:$color1;}
        }
        .menu-item.menu-item-has-children.collapsed{
            font-weight:normal;
            a{color:$color3;}
        }

        .menu-item.menu-item-has-children.collapsed:after{
            @include rotate(-90deg);

        }

        .sub-menu.visible {
            display: block;
        }
    }



	// EINDE NAVIGATIE MOBIEL


	header#top{
		nav#top {
			margin-top:0;
			ul{
				display: block;
			}
		}
	}

	section#page-content{	padding: 20px 0;	}


	// LANDING
	body.page-template-landing{

		header#banner{height:200px;}

		section#quote{
			text-align: center;
			.call-to-action-btn{
				position:relative;
				top:20px;
			}
		}

		section#call-to-action{
			padding:40px 0;
		}

		section#page-content{
			img{ margin:0 20px 20px 0; float:none; }
		}

	}

	header#top{
		.menu-top-menu-container{
			display:none;
		}

	}


	// HOMEPAGE
	body.page-template-homepage{




		// section#quote{ display:none; }

		section#page-content{		}

		section#blocks{

			.pagewrap{ padding:0 20px; }
			section.block{
				ul.arrows{
					position:relative;
					top:inherit;

				}
				height:auto;
				figure{ display:none;}
				h2{margin-top:0;}

			}
		}
	}

	// sLIDER

	header#banner{
		height:134px;
	}

	header#slider {
		height:134px;
		#slider_home{
			height:134px;

			.labels{
				display: none;
				position: relative;
				background-color:#fff;
				margin:0;
				padding:10px 0;
				top:134px;
				left:0;
				height:76px;
				right:0;
				max-width:none;
				width:100%;

				h1{font-family: $font2; font-size:42px; color:#fff; line-height:130%;}
				h2{float:left; font-size:19px; text-align: center; color:#000; margin:0; color:$color1; width:100%; font-weight: 400; line-height: 130%;}
				button{ float:right; padding:14px 46px; font-family: $font1;}
			}

			.bullets{
				bottom:0;

			}

		}
	}
}
