@include breakpoint($screen-size-tablet){
    section#subpage-links{
        max-width: 66%;
    }

	 section#banners{
        max-width: 34%;
    }

	footer{
		// sorting
		.sort{
			.col.quick-nav{
				width:33%;
				float:right;
				margin-right:12%;
			}

			.col.contact{
				width:33%;
				float:left;
			}

		}

	}

  //breakpoint fixes
  header#top{
    nav#top{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      button#showMenu{
        display: none;
      }
      ul{
        display: inline-block;
        width: auto;
      }
    }
  }

  section#search{
    display: none;
    &.full{
      display: block;
    }
  }

  nav#main{
    .menu{
      .menu-item{
        .sub-menu{
          margin-top: 35px;
        }
        a{
          padding: 14px 11px;
        }
      }
    }
  }
}
